---
layout: page
title: Resume
---

<section id="projects">
  <div class="container">
    <div class="panel panel-default">
      <h3 name="education" id="education">Education</h3>
      <div class="panel-body">
        <h5 class="project closer">
          <span class="title">Bachelor's degree in Information Technology</span>
          <span class="dates">2019 - 2022</span>
          <span class="company">
            Interamerican Open University - Buenos Aires, Argentina
            <a
              href="https://uai.edu.ar/facultades/tecnolog%C3%ADa-inform%C3%A1tica/licenciatura-en-gesti%C3%B3n-de-tecnolog%C3%ADa-inform%C3%A1tica/"
              target="_blank"
            >
              <i class="fa fa-external-link" style="font-size: 70%;"></i>
            </a><br>
            <span style="line-height: 26px; color: #8b8b8b; font-size: 90%; list-style: disc; padding-left: 0;">
              Completed 2128/2768 hours toward a BSc in IT.
            </span>
          </span>
        </h5>
        <h5 class="project closer">
          <span class="title">Diploma in English Language and Literature</span>
          <span class="dates">2013 - 2015</span>
          <span class="company">
            University of Carabobo - Valencia, Venezuela
            <a
              href="http://www.uc.edu.ve/univ_dep_fundauc.php"
              target="_blank"
            >
              <i class="fa fa-external-link" style="font-size: 70%;"></i>
            </a>
          </span>
        </h5>
      </div>
    </div>

    <div class="panel panel-default">
      <h3>Work Experience</h3>
      <div class="panel-body">
        {% for project in site.data.employment %}
        <h5 class="project">
          <span class="title">{{ project.title }}</span>
          <span class="dates">{{ project.dates }}</span>
          <span class="company">
            {{ project.company }} {% if project.link %}
            <a href="{{ project.link }}" target="_blank">
              <i class="fa fa-external-link" style="font-size: 70%;"></i>
            </a>
            {% endif %}
          </span>
          {% if project.points %}
          <ul>
            {% for item in project.points %}
            <li>{{ item }}</li>
            {% endfor %}
          </ul>
          {% endif %} {% if project.tech %}
          <span class="tech">Technologies:</span>
          <span class="techlist"
            >{{ project.tech | array_to_sentence_string }}</span
          >
          {% endif %}
        </h5>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
