<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"
        ><i class="fa fa-home"></i>
        <span class="home-text">HOME</span>
      </a>
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.baseurl }}resume.html">RESUME</a></li>
        <li><a href="{{ site.baseurl }}projects.html">PROJECTS</a></li>
        <li><a href="{{ site.baseurl }}blog.html">BLOG</a></li>
        <li><a href="{{ site.baseurl }}about.html">ABOUT</a></li>
      </ul>
    </div>
  </div>
</nav>
