<section id="projects">
  <div class="container">
    <h3>Projects</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <div style="text-align: left; font-size: 15px;">
          I have accounts at
          <a href="https://github.com/jfernancordova" target="_blank">GitHub</a
          >, and
          <a href="https://gitlab.com/jfernancordova" target="_blank">GitLab</a
          >, and However, most of the work I do is private, so you will not be
          able to see it. My contributions are better accessed through the
          following list.
        </div>
        <h5>
          <i class="fa fa-github"></i>&nbsp;&nbsp;<strong
            ><a href="https://github.com/jfernancordova/docker-laravel-api-dev"
              >Docker Laravel API Development</a
            ></strong
          >
          - The containerized Laravel API development environment.
        </h5>
        <h5>
          <i class="fa fa-github"></i>&nbsp;&nbsp;<strong
            ><a href="#">Laravel Stripe</a></strong
          >
          - Laravel - Stripe with Social and Email Authentication.
        </h5>
        <h5>
          <i class="fa fa-github"></i>&nbsp;&nbsp;<strong
            ><a href="https://github.com/jfernancordova/larazoho"
              >Larazoho</a
            ></strong
          >
          - A Laravel API Boilerplate For Zoho CRM.
        </h5>
      </div>
    </div>
  </div>
  <div class="container">
    <h3>Open Source</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <h5>
          <i class="fa fa-github"></i>&nbsp;&nbsp;
          <strong>
            <a href="https://github.com/jwasham/coding-interview-university"
              >Coding Interview University</a
            > </strong
          >: Pull request
          <a
            href="https://github.com/jwasham/coding-interview-university/pull/436"
            >#436</a
          >.
        </h5>
        <h5>
          <i class="fa fa-github"></i>&nbsp;&nbsp;
          <strong>
            <a href="https://github.com/romaricp/kit-starter-symfony-4-docker"
              >kit Starter Symfony 4 Docker</a
            > </strong
          >: Pull request
          <a
            href="https://github.com/romaricp/kit-starter-symfony-4-docker/pull/9"
            >#9</a
          >.
        </h5>
        <h5>
          <i class="fa fa-github"></i>&nbsp;&nbsp;
          <strong>
            <a href="https://github.com/docker-php/docker-php"
              >Docker PHP</a
            > </strong
          >: Pull request
          <a href="https://github.com/docker-php/docker-php/pull/317">#317</a>.
        </h5>
      </div>
    </div>
  </div>
</section>
