---
layout: layout
---

<div class="container">
  <div class="blog-post">
    <h3>
      <strong><a href="{{ page.url }}">{{ page.title }}</a></strong>
    </h3>
    {% if page.description %}
    <h4>{{ page.description }}</h4>
    {% endif %}
  </div>
  <div class="blog-title">
    <h4>
      {{ page.date | date: "%B %e, %Y" }} {% if page.author %} by {{
      page.author.display_name }} {% endif %}
      <h4>
        {% for tag in page.tags %}
        <span class="label label-success">{{ tag }}</span>
        {% endfor %}
      </h4>
    </h4>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="blogpost">
        {{ content }}
        <hr />
      </div>
    </div>
  </div>
  {% include disqus.html %}
</div>
